/* Eye-catching header section */
.events, .home-page {
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    text-align: center;
}

.home-page {
    background-image: url("./Resources/0467648.jpg");
}

.events {
    background-image: url("./Resources/R12.jpeg");
}


/* Navbar */
.navbar-nav .nav-item {
    padding-right: 40px;
    font-size: x-large;
}

.bg-nav {
    background-color: #1ac6ff;
}

.logo {
    font-size: xx-large;}

/* Images resizing */
.resize-img {
    width: 100%;
    height: auto;
}

/* Title */
h1 {
    font-size: 55px;
    font-weight: bolder;
}

h2, h3, h5 {
    color: #3f7cb4;
    font-weight: bolder;
}

h3 {
    font-size: 20px;
}

/* Article  */
section article { 
    box-shadow: 0 0 0px rgba(0, 0, 0, 0.3);
    transition: box-shadow 0.3s ease;
}
  
section article:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Card */
.card {
    height: 100%;
    min-height: 400px;
    display: flex;
    flex-direction: column;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.card-text {
    flex-grow: 1;
}

.card img {
    height: 200px;
    object-fit: cover;
}

.card:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

  

/* Footer */
footer {
    background-color: #3f7cb4;
    height: auto;
    color: white;
}

h4, footer p {
    text-align: center;
    padding-top: 10px;
}

footer a {
    color: white;
    text-decoration: none;
}

.bold {
    font-weight: bolder;
}

/* Responsive design */
@media (max-width: 768px) {
    .jumbotron {
        height: 200px;
    }
    h1 {
        font-size: 30px;
    }
    .navbar-nav .nav-item {
        padding-right: 10px;
        font-size: large;
    }
    h2 {
        font-size: x-large;
    }
    h3 {
        font-size: 19px;
    }
    .bd-bt {
        border-bottom: solid 1px white;
    }
    h4, footer p {
        text-align: left;
    }
    .ctr {
        text-align: center;
    }
}